.promo-bar {
    background-color: #FF4C00; 
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1px;
    font-size: 12px; 
    z-index: 999; 
}

.promo-bar-dark {
    background-color: #1f1f1f; 
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 1px;
    font-size: 18px;
    z-index: 900; 
    margin-top: 10px;
    padding: 20px 20px;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.cart-button {
    background-color: white;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.product-image {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.product-details h1 {
    font-size: 24px;
}

.add-to-cart-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

.add-to-cart-button:hover {
    background-color: #d2451e;
}


.cart-container {
    margin: 20px;
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.cart-item-details h3 {
    margin: 0;
}

#checkout-button {
    background-color: #d2451e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

#checkout-button:hover {
    background-color: #a7341a;
}

.orange-section {
    background-color: #d2451e;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.product-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.shop_button  {
    align-items: center;
    display: flex;
    text-align: center;
}

.centered-button {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 10px;
    border:none;
    padding: 10px 10px;
    background-color: #FF4C00;
    color: white;
    font-weight: bold;
}

a {
    font-weight: normal;
    font-size: 12px;
}

.product-section {
    padding: 60px 0;
    background-color: #dcdcdc;
    border-radius: 60px;
    margin: 20px;

  }
  
  .product-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
  }
  
  .product-item {
    text-align: center;
  }
  
  .product-img {
    width: 300px;
    height: auto;
  }
  
  .product-name {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }
  
  .product-price:hover {
    color:#d2451e;
    
  }
  
  a{
    margin-top: 20px;
    font-size: 14px;
  }